html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.windows {
    width: 100%;
    height: 50%;
    
}

.drag
 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    position: absolute;
    z-index: 9;
}
#dragheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.terminal,
span,
.cmd,
div {
    --color: rgba(255, 255, 255, 0.99);
}

.terminal,
span {
    --size: 1.4;
}