html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.windows {
    width: 100%;
    height: 50%;

}

.drag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    position: absolute;
    z-index: 9;
    box-shadow: 20px 20px 50px 15px rgb(83, 251, 64);
}

/* .windows {
    background-color: rgba(0, 0, 0, 0) !important;
} */

/* .cmd, 
.cmd div, 
.cmd span[data-text]:not(.cmd-inverted):not(.token):not(.emoji), 
.terminal, 
.terminal-output>:not(.raw) a,
.terminal-output>:not(.raw) div, 
.terminal-output>:not(.raw) span[data-text]:not(.token):not(.inverted):not(.terminal-inverted):not(.cmd-inverted):not(.terminal-error):not(.emoji), 
.terminal.external [data-text] {
    background-color: rgba(0, 0, 0, 0) !important;
} */

#dragheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.terminal,
span,
.cmd,
div {
    --color: #fff
}

.terminal,
span {
    --size: 1.5;
}


canvas {
    display: block;
}

@media only screen and (max-width: 960px) {
    .drag {
        height: 150px;
        width: 85%;
    }

    .terminal,
    span {
        --size: 1;
    }
}